doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if (locals.message === true)
      div(class='msgBox')=msg
    block content
    footer
      hr
      content="Autor: Piotr Jasiński"
    script(src='/javascripts/main.js')
